
<div class='footer'>
  <div class='footer-contents'>
    <div class='cloud-details01'>
      <h2 class='footer-content-head'>プロジェクト掲載について</h2>
      <ul>
        <li class="footer-title">プロジェクトをはじめる</li>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='cloud-details02'>
      <h2 class='footer-content-head'>プロジェクトをさがす</h2>
      <ul>
        <li class="footer-title">カテゴリからさがす</li>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='cloud-details03'>
      <h2 class='footer-content-head'>CAMPFIRE について</h2>
      <ul>
        <li class="footer-title">クラウドファンディングとは</li>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>