
<div class='header-main'>
  <div class='header'>
    <div class='heading'>
     
      <%= link_to 'CloudFunding', root_path, class: 'title' %>
    </div>
    <div class='navbar'>
      <ul class='nav-lists'>
        <li><%= link_to 'クラウドファンディングをはじめる', new_item_path, class: 'class' %></li>
        <li><a class="class" href="#">さがす</a></li>
        <% if user_signed_in? %>
          <li><%= "#{current_user.nickname}" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'class' %></li>
        <% else %>
          <li><%= link_to 'ログイン',  new_user_session_path, class: 'class' %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'class' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
