<div class='item-contents'>
  <div class='item-pickup'>
    <%= image_tag "cat-1941089_1280.jpg", class: 'item-image'%>
    <h2 class='pickup-project-name'>プロジェクト名</h2>
    <div class='projects'>
      <div class='project-amount'>現在<span>840,000円</span></div>
      <div class='project-support'>支援者<span>120人</span></div>
      <div class='project-day'>残り<span>10日</span></div>
    </div>
  </div>

  <ul class='item-lists'>
    <li class='list'>
      <%= image_tag "cat-1941089_1280.jpg", class: 'item-list-image'%>
      <h2 class='pickup-list-name'>listプロジェクト名</h2>
      <div class='projects-list'>
        <div class='project-list-amount'>現在<span>540,000円</span></div>
        <div class='project-list-support'>支援者<span>120人</span></div>
        <div class='project-list-day'>残り<span>12日</span></div>
    </div>
    </li>
    <li class='list'>
      <%= image_tag "chris-chow-BhwRQr08PcM-unsplash.jpg", class: 'item-list-image'%>
      <h2 class='pickup-list-name'>listプロジェクト名</h2>
      <div class='projects-list'>
        <div class='project-list-amount'>現在<span>250,000円</span></div>
        <div class='project-list-support'>支援者<span>90人</span></div>
        <div class='project-list-day'>残り<span>5日</span></div>
    </div>
    </li>
    <li class='list'>
      <%= image_tag "coffee-1281880_1280.jpg", class: 'item-list-image'%>
      <h2 class='pickup-list-name'>listプロジェクト名</h2>
      <div class='projects-list'>
        <div class='project-list-amount'>現在<span>800,000円</span></div>
        <div class='project-list-support'>支援者<span>5790人</span></div>
        <div class='project-list-day'>残り<span>15日</span></div>
      </div>
      </li>
    <li class='list'>
      <%= image_tag "morning-819362_1280.jpg", class: 'item-list-image'%>
      <h2 class='pickup-list-name'>listプロジェクト名</h2>
      <div class='projects-list'>
        <div class='project-list-amount'>現在<span>3,000,000円</span></div>
        <div class='project-list-support'>支援者<span>2790人</span></div>
        <div class='project-list-day'>残り<span>20日</span></div>
      </div>
    </li>
  </ul>
</div>

<div class='start-project'>
  <div class='find-text'>
    <h1>国内最大のクラウドファンディングで新しい挑戦を見つけよう</h1>
    <div class='btn-find'><a class="class" href="#">プロジェクトをさがす</a></div>
  </div>
</div>
