<div class='new-project-contents'>
  <h1 class='new-project-title'>新着プロジェクト</h1>
  <div class='new-project-view'>
    <ul class='new-project-lists'>
      <li class='new-project-list'>
        <%= image_tag "cat-1941089_1280.jpg", class: 'new-project-image'%>
        <h1 class='new-project-name'>listプロジェクト名</h1>
        <div class='new-project-tag'>
          <div class='project-tag-name'><i class="fas fa-tags"></i>フード・飲食</div>
          <div class='project-tag-name'><i class="fas fa-tags"></i>動物・植物</div>
        </div>
        <div class='new-project-detail'>
          <div class='new-project-amount'>現在<span>540,000円</span></div>
          <div class='new-project-support'>支援者<span>120人</span></div>
          <div class='new-project-day'>残り<span>12日</span></div>
        </div>
      </li>
      <li class='new-project-list'>
        <%= image_tag "cat-1941089_1280.jpg", class: 'new-project-image'%>
        <h1 class='new-project-name'>listプロジェクト名</h1>
        <div class='new-project-tag'>
          <div class='project-tag-name'><i class="fas fa-tags"></i>フード・飲食</div>
          <div class='project-tag-name'><i class="fas fa-tags"></i>動物・植物</div>
        </div>
        <div class='new-project-detail'>
          <div class='new-project-amount'>現在<span>540,000円</span></div>
          <div class='new-project-support'>支援者<span>120人</span></div>
          <div class='new-project-day'>残り<span>12日</span></div>
        </div>
      </li>
      <li class='new-project-list'>
        <%= image_tag "cat-1941089_1280.jpg", class: 'new-project-image'%>
        <h1 class='new-project-name'>listプロジェクト名</h1>
        <div class='new-project-tag'>
          <div class='project-tag-name'><i class="fas fa-tags"></i>フード・飲食</div>
          <div class='project-tag-name'><i class="fas fa-tags"></i>動物・植物</div>
        </div>
        <div class='new-project-detail'>
          <div class='new-project-amount'>現在<span>540,000円</span></div>
          <div class='new-project-support'>支援者<span>120人</span></div>
          <div class='new-project-day'>残り<span>12日</span></div>
        </div>
      </li>
      <li class='new-project-list'>
        <%= image_tag "cat-1941089_1280.jpg", class: 'new-project-image'%>
        <h1 class='new-project-name'>listプロジェクト名</h1>
        <div class='new-project-tag'>
          <div class='project-tag-name'><i class="fas fa-tags"></i>フード・飲食</div>
          <div class='project-tag-name'><i class="fas fa-tags"></i>動物・植物</div>
        </div>
        <div class='new-project-detail'>
          <div class='new-project-amount'>現在<span>540,000円</span></div>
          <div class='new-project-support'>支援者<span>120人</span></div>
          <div class='new-project-day'>残り<span>12日</span></div>
        </div>
      </li>
      <li class='new-project-list'>
        <%= image_tag "cat-1941089_1280.jpg", class: 'new-project-image'%>
        <h1 class='new-project-name'>listプロジェクト名</h1>
        <div class='new-project-tag'>
          <div class='project-tag-name'><i class="fas fa-tags"></i>フード・飲食</div>
          <div class='project-tag-name'><i class="fas fa-tags"></i>動物・植物</div>
        </div>
        <div class='new-project-detail'>
          <div class='new-project-amount'>現在<span>540,000円</span></div>
          <div class='new-project-support'>支援者<span>120人</span></div>
          <div class='new-project-day'>残り<span>12日</span></div>
        </div>
      </li>
    </ul>
  </div>
</div>

