<div class='new-project-contents'>
  <h1 class='new-project-title'>新着プロジェクト</h1>
  <div class='new-project-view'>
    <ul class='new-project-lists'>
      <% @items.each do |item|%>
        <li class='new-project-list'>
          <%= link_to image_tag(item.image, class: 'new-project-image'), item_path(item.id) %>
          <h1 class='new-project-name'><%= item.title %></h1>
          <div class='new-project-tag'>
            <div class='project-tag-name'><i class="fas fa-tags"></i><%= item.tag.name %></div>
            <div class='project-tag-name'><i class="fas fa-tags"></i>動物・植物</div>
          </div>
          <div class='new-project-detail'>
            <div class='new-project-amount'>現在<span><%= item.start_amount %>円</span></div>
            <div class='new-project-support'>支援者<span><%= item.person_num %>人</span></div>
            <% if item.remaining_days > 0 %>
              <div class='new-project-day'>残り<span><%= item.remaining_days %>日</span></div>
            <% else %>
              <div class='new-project-day'><span>募集期間終了</span></div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

