
<div class='main'>
  <%= render "items/header" %>
  <div class='top-image'>
    <%= image_tag "baseball-field-1149153_1920.jpg", size: '1430x720'%>
  </div>
  <div class='main-column'>
    <%= render "items/main-column" %>
  </div>
   <div class='sub-column'>
    <%= render "items/sub-column" %>
  </div>
  <div class='work-report'>
    <div class='work-report-contents'>
      <h2 class='work-report-name'>最近の活動報告</h2>
      <div class='work-report-box'>
        <div class='work-report-list'>
        </div>
        <div class='work-report-list'>
        </div>
        <div class='work-report-list'>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "walking-next-to-people-4435214_1280.png", size: '1450x650'%>
  <%= render "items/footer" %>
</div>

