<%= render "items/header" %>
<div class='main'>
  <div class='top-image'>
    <%= image_tag "walking-next-to-people-4435214_1280.png", class: 'header-image'%>
  </div>
  <div class='main-column'>
    <%= render "items/main-column", locals: { item: @item } %>
  </div>
   <div class='sub-column'>
    <%= render "items/sub-column" %>
  </div>
  <div class='work-report'>
    <div class='work-report-contents'>
      <h2 class='work-report-name'>最近の活動報告</h2>
      <ul class='work-report-box'>
        <li class='work-report-list'>
          <%= image_tag "cat-1941089_1280.jpg", class: 'work-report-image' %>
          <div class="btn-work-report">
            <i class="fas fa-bullhorn"></i>活動報告
          </div>
          <div class='work-report-title'>【10月5日】ウチのネコが死にました。</div>
        </li>
        <li class='work-report-list'>
          <%= image_tag "cat-1941089_1280.jpg", class: 'work-report-image' %>
          <div class="btn-work-report">
            <i class="fas fa-bullhorn"></i>活動報告
          </div>

        </li>
        <li class='work-report-list'>
          <%= image_tag "cat-1941089_1280.jpg", class: 'work-report-image' %>
          <div class="btn-work-report">
            <i class="fas fa-bullhorn"></i>活動報告
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%= image_tag "crowdfunding-3158320_1280.png", class: 'footer-image'%>
  
  <%= render "items/footer" %>
</div>

