
<%= render "items/header" %>
<div class='new-container'> 
  <h1 class='new-page-title'>New Page</h1>
  <div class='new-form'>
    <%= form_with(model: @item, local: true) do |form| %>
      <div>
        <%= form.label :title, 'タイトル' %>
        <%= form.text_field :title, placeholder: "タイトル" %>
      </div>

      <div>
        <%= form.label :sub_title, 'サブタイトル' %>
        <%= form.text_field :sub_title, placeholder: "サブタイトル" %>
      </div>
      <div>
        <%= form.label :text, '本文' %>
        <%= form.text_area :text, placeholder: "文章を入力してください。" %>
      </div>

      <div>
        <%= form.label :target_amount, '目標金額' %>
        <%= form.text_field :target_amount, placeholder: "目標金額" %>
      </div>

      <div>
        <%= form.label :days, '日数' %>
        <%= form.text_field :days, placeholder: "日数" %>
      </div>

      <div>
        <%= form.label :tag, 'タグ' %>
        <%= form.text_field :tag, placeholder: "タグ" %>
      </div>

      <%= form.submit "送信" %>
    <% end %>
  </div>
</div>

<%= render "items/footer" %>