
<%= render "items/header" %>
<div class='new-container'> 
  <h1 class='new-page-title'>プロジェクト編集</h1>
  <div class='new-form'>
    <%= form_with(model: @item, local: true) do |form| %>
    <div>
      <%= form.file_field :image, id:"item-image" %>
    </div>
      <div>
        <%= form.label :title, 'タイトル' %>
        <%= form.text_field :title, placeholder: "タイトル" %>
      </div>

      <div>
        <%= form.label :sub_title, 'サブタイトル' %>
        <%= form.text_field :sub_title, placeholder: "サブタイトル" %>
      </div>
      <div class='content-style'>
        <%= form.label :content, '本文' %>
        <%= form.rich_text_area :content, placeholder: "文章を入力してください。" %>
      </div>

      <div>
        <%= form.label :target_amount, '目標金額' %>
        <%= form.text_field :target_amount, placeholder: "目標金額" %>
      </div>

      <div>
        <%= form.label :day_id, '募集終了日数' %>
        <%= form.collection_select(:day_id, Day.all, :id, :name, {}, {class:"day-select"}) %>
      </div>

      <div>
        <%= form.label :tag_id, 'タグ' %>
        <%= form.collection_select(:tag_id, Tag.all, :id, :name, {}, {class:"tag-select"}) %>
      </div>
      <%= form.submit "送信" %>
    <% end %>
  </div>
</div>

<%= render "items/footer" %>