
<%= render "items/header" %>
<div class='new-page'>
  <div class="new-container">
  <h1 class='new-page-title'>プロジェクト編集</h1>
    <%= form_with(model: @item, local: true) do |form| %>
      <%= render 'devise/shared/error_messages', model: form.object %>
      <div class='overview-wrapper'>
        <div class="form-group">
          <div class='form-header'>
          <%= form.label :title, 'タイトル' %>
          </div>
          <div class="form-body">
            <%= form.text_field :title, placeholder: "あなただけのオリジナルタイトルを設定してください", class:"form-body-title"%>
          </div>
        </div>

        <div class="form-group">
          <div class="form-header">
            <%= form.label :sub_title, '概要文' %>
          </div>
          <div class="form-body">
            <%= form.text_area :sub_title, placeholder: "３行程度で概要をまとめましょう", class:'form-body-subtitle'%>
          </div>
        </div>

        <div class="form-group">
          <div class="form-header">
            <%= form.label :sub_title, 'メイン画像' %>
          </div>
          <div class="form-body">
            <%= form.file_field :image, id:"item-image", class:"form-body-image" %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-header">
            <%= form.label :content, '本文' %>
          </div>
          <div class="form-body">
            <div class="form-body-line">
              <%= form.rich_text_area :content %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="form-header">
            <%= form.label :target_amount, '目標金額' %>
          </div>
          <div class="form-body">
            <%= form.text_field :target_amount, placeholder: "目標金額", class:"form-body-amount" %>円
          </div>
        </div>

        <div class="form-group">
          <div class="form-header">
            <%= form.label :day_id, '募集終了日' %>
          </div>
          <div class="form-body">
            <%= form.date_field :day_id, class:"day-select" %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-header">
            <%= form.label :tag_id, 'カテゴリ' %>
          </div>
          <div class="form-body">
            <%= form.collection_select(:tag_id, Tag.all, :id, :name, {}, {class:"tag-select"}) %>
          </div>
        </div>
      </div>
      <div class="item-btn">
        <%= form.submit "保存", class:'item-new-btn' %>
      </div>
      <% end %>
  </div>
</div>

<%= render "items/footer" %>