
<%= render "items/header" %>
<div class='show-top-page'>
  <h1 class='show-page-title'><%= @item.title %></h1>
  <ul class='show-tag'>
    <li class='show-tag-list'><i class="fas fa-tags"></i><%= @item.tag.name %></li>
    <li class='show-tag-list'><i class="fas fa-tags"></i>動物・植物</li>
  </ul>
  <div class='show-container'>

    <div class='main-container'>
      <%= image_tag @item.image, class: 'show-item-image' %>
      <div class='sub-title'><%= @item.sub_title %></div>
    </div>

    <div class='side-container'>
      <div class='side-item-contents'>
        <div class='total-inner'>
          <div class='backer-amount'>
            <h5><span>¥</span> 現在の支援総額</h5>
            <strong><%= @item.start_amount %>円</strong>
            <div>目標金額は<%= @item.target_amount %>円</div>
          </div>
        </div>
        <div class='support-person'>
          <div class='support-person-number'><i class="fas fa-user"></i>支援者数</div>
          <div class='number'><%= @item.person_num %>人</div>
        </div>
        <div class='recruitment-end'>
          <div class='recruitment-end-number'><i class="far fa-clock"></i>募集終了まで残り</div>
          <% if @item.remaining_days > 0 %>
            <div class='number'><%= @item.remaining_days %>日</div>
          <% else %>
            <div class='number'>募集期間終了</div>
          <% end %>
        </div>

        <div class='support-box'>
          <div class='btn-support'>
            <% if user_signed_in? && current_user.id == @item.user_id %>
              <%= link_to 'プロジェクトを編集する', edit_item_path(@item.id), class: "support-name"%><i class="fa fa-chevron-circle-right"></i>
            <% elsif @item.remaining_days > 0 %>
              <%= link_to 'プロジェクトを支援する', new_item_order_path(@item.id), class: "support-name"%><i class="fa fa-chevron-circle-right"></i>
             <% else %>
              <%= link_to 'プロジェクトを支援する', "#", class: "support-name" %><i class="fa fa-chevron-circle-right"></i>
            <% end %>
          </div>
          <div class='btn-favorite'>
            <% if user_signed_in? && current_user.id == @item.user_id %>
              <%= link_to '削除', item_path(@item.id), method: :delete, class:'favorite' %>
            <% else %>  
              <div class='favorite'>お気に入り</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class='show-content-page'>
  <div class='show-container'>

    <div class='main-content'>
      <ul class='tab-group'>
        <li class='tab tab-A is-active'>ホーム</li>
        <li class='tab tab-B'>活動報告</li>
        <li class='tab tab-C'>支援者</li>
        <li class='tab tab-D'>コメント</li>
      </ul>
      <div class="panel-group">
        <div class="panel tab-A is-show">
          <%= @item.content %>
        </div>
        <div class="panel tab-B">コンテンツ2</div>
        <div class="panel tab-C">コンテンツ3</div>
        <div class="panel tab-D">コンテンツ4</div>
      </div>
    </div>

    <div class='side-container'>
      <div class='profile-detail'>
        <div class='profile-box'>
          <%= image_tag "Df9kcOEUcAAFsr9.jpg", class: 'profile-image' %>
          <div class='profile-name'>
            <%= @item.user.nickname %>
          </div>

          <div class='profile-message'>
            <i class="fa fa-envelope"></i>メッセージで意見や質問を送る
          </div>
        </div>
      </div>

      <div class='return-detail'>
        <h2>リターンを選ぶ</h2>
        <ul>
          <li class='return-list'>
            <div class='return-list-box'>
              <div class='return-money'>
                500円
              </div>
              <div class='btn-return'>
                <% if user_signed_in? && current_user.id == @item.user_id %>
                  <%= link_to 'このリターンを選択する', class:'return-link' %>
                <% elsif @item.remaining_days > 0 %>
                  <%= link_to 'このリターンを選択する', new_item_order_path(@item.id), class:'return-link' %>
                <% else %>
                  <%= link_to 'このリターンを選択する', class:'return-link' %>
                <% end %>
              </div>
              <div class='return-message'>
                <p>
                お礼メッセージ<br/>
                ご支援いただいた方に、心からのお礼をお送りさせていただきます。
                </p>
                <p class='remarks_field'>
                  ※支援時、必ず備考欄にご希望のお名前をご記入ください。
                </p>
              </div>
              <div class='support-person-list'>
                <div class='person-list-number'>支援者：<%= @item.person_num %>人</div>
                <div class='delivery_scheduled'>お届け予定：2020年12月</div>
              </div>

            </div>
          </li>
          <li class='return-list'>
            <div class='return-list-box'>
              <div class='return-money'>
                8000円
              </div>
              <div class='btn-return'>
                <% if user_signed_in? && current_user.id == @item.user_id %>
                  <%= link_to 'このリターンを選択する', class:'return-link' %>
                <% elsif @item.remaining_days > 0 %>
                  <%= link_to 'このリターンを選択する', new_item_order_path(@item.id), class:'return-link' %>
                <% else %>
                  <%= link_to 'このリターンを選択する', class:'return-link' %>
                <% end %>
              </div>
              <div class='return-message'>
                <p>
                お礼メッセージ<br/>
                ご支援いただいた方に、心からのお礼をお送りさせていただきます。
                </p>
                <p class='remarks_field'>
                  ※支援時、必ず備考欄にご希望のお名前をご記入ください。
                </p>
              </div>
              <div class='support-person-list'>
                <div class='person-list-number'>支援者：<%= @item.person_num %>人</div>
                <div class='delivery_scheduled'>お届け予定：2020年12月</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render "items/footer" %>